Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend, pages-build, pages, helm-lint, helm-package, helm-push

cinco-cloud-install-main-frontend:
  image: node:16.14.0
  script:
  - cd ./cinco-cloud/services/main/frontend
  - npm install

cinco-cloud-lint-main-frontend:
  image: node:16.14.0
  needs:
  - cinco-cloud-install-main-frontend
  script:
  - cd ./cinco-cloud/services/main/frontend
  - npm install
  - npm run lint

cinco-cloud-lint-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-install-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-test-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-build-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: ./cinco-cloud/services
    DOCKERFILE: ./cinco-cloud/services/main/Dockerfile
    IMAGE: main
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

cinco-cloud-lint-workspace-builder-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-install-workspace-builder-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-build-workspace-builder:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: ./cinco-cloud/services
    DOCKERFILE: ./cinco-cloud/services/workspace-builder/Dockerfile
    IMAGE: workspace-builder
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

pages:
  needs:
  - pages-build
  image: node:16.15.1
  script:
  - mkdir public
  - mv docs/vuepress/src/.vuepress/dist/* public/
  artifacts:
    paths:
    - public
    expire_in: 1 day

infrastructure: Add development secrets
  docs/vuepress/src/content/developer-guide/installation/README.md
  infrastructure/helm/secrets-local.yaml
Due: pages-build, pages, helm-lint, helm-package, helm-push

docs: Add version hint for skaffold
  docs/vuepress/src/content/developer-guide/installation/README.md
Due: pages-build, pages

Replace Docker images with ARM-compatible alternatives
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/editor/pyro-server-extension/unpack-pyro-server.sh
  cinco-cloud/services/main/dev.Dockerfile
  cinco-cloud/services/workspace-builder/arm.Dockerfile
  docs/vuepress/src/content/developer-guide/installation/README.md
  infrastructure/helm/templates/ampq.yaml
  infrastructure/helm/values.yaml
  skaffold.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend, pages-build, pages, helm-lint, helm-package, helm-push

main: Separate endpoints to create personal and organizational projects
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/OrganizationController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/ProjectController.java
  cinco-cloud/services/main/backend/src/test/java/info/scce/cincocloud/core/ProjectControllerTest.java
  cinco-cloud/services/main/frontend/src/app/core/services/api/organization-api.service.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/create-project-modal.component.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

archetype: Use EPL license for VS Code extensions
  cinco-cloud-archetype/vscode-extensions/cinco-extension/package.json
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/package.json
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/package.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

main: Add pagination for projects and organizations on the overview page
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/OrganizationController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/ProjectController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/inputs/UserSearchInput.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/PageTO.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/OrganizationService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/ProjectService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/WorkspaceImageBuildJobService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/db/ProjectDB.java
  cinco-cloud/services/main/frontend/src/app/core/components/pagination/pagination.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/pagination/pagination.component.ts
  cinco-cloud/services/main/frontend/src/app/core/core.module.ts
  cinco-cloud/services/main/frontend/src/app/core/models/page.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/organization-api.service.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/project-api.service.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/workspace-image-build-job-api.service.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/pages/overview/overview.component.html
  cinco-cloud/services/main/frontend/src/app/features/internal/pages/overview/overview.component.ts
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user-modal/delete-user-modal.component.html
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user-modal/delete-user-modal.component.ts
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/build-jobs/build-jobs.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/build-jobs/build-jobs.component.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

Resolve "Request: "clear workspace" inside project initializer"
  .gitignore
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/common/model.ts
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/common/tsconfig.json
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/filesystem-helper.ts
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/messages.ts
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/projectInitialization.ts
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/scaffold.ts
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/webview/main.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

main: Fix image search
  cinco-cloud/services/main/frontend/src/app/core/services/api/workspace-image-api.service.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

infrastructure: Update helm templates to support multiple resources
  infrastructure/helm/templates/main.yaml
Due: helm-lint, helm-package, helm-push

main: Reenable debug mode for theia pods
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SDeployment.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

Resolve "Add notification to project initializer that the project has been initialized"
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/common/model.ts
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/messages.ts
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/projectInitialization.ts
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/scaffold.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Push Theia version to 1.38
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/editor/browser-app/lib/favicon.ico
  cinco-cloud-archetype/editor/browser-app/package.json
  cinco-cloud-archetype/editor/cinco-authenticator/package.json
  cinco-cloud-archetype/editor/cinco-branding/package.json
  cinco-cloud-archetype/editor/cinco-glsp-server/package.json
  cinco-cloud-archetype/editor/gen-webpack.config.js
  cinco-cloud-archetype/editor/glsp-client/cinco-glsp-client/package.json
  cinco-cloud-archetype/editor/glsp-client/package.json
  cinco-cloud-archetype/editor/glsp-client/yarn.lock
  cinco-cloud-archetype/editor/package.json
  cinco-cloud-archetype/editor/yarn.lock
  cinco-cloud-archetype/node_modules/.yarn-integrity
  cinco-cloud-archetype/yarn.lock
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

remove workspace builder
  .gitlab-ci.yml
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/DockerfileMinimal
  cinco-cloud-archetype/buildMinimal.sh
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/WorkspaceImageBuildJobLogFileService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/MainServiceGrpcImpl.java
  cinco-cloud/services/resources/proto/cinco-cloud.proto
  cinco-cloud/services/workspace-builder/.dockerignore
  cinco-cloud/services/workspace-builder/.gitignore
  cinco-cloud/services/workspace-builder/.mvn/wrapper/MavenWrapperDownloader.java
  cinco-cloud/services/workspace-builder/.mvn/wrapper/maven-wrapper.jar
  cinco-cloud/services/workspace-builder/.mvn/wrapper/maven-wrapper.properties
  cinco-cloud/services/workspace-builder/Dockerfile
  cinco-cloud/services/workspace-builder/README.md
  cinco-cloud/services/workspace-builder/arm.Dockerfile
  cinco-cloud/services/workspace-builder/mvnw
  cinco-cloud/services/workspace-builder/mvnw.cmd
  cinco-cloud/services/workspace-builder/pom.xml
  cinco-cloud/services/workspace-builder/scripts/build.sh
  cinco-cloud/services/workspace-builder/src/main/docker/Dockerfile.jvm
  cinco-cloud/services/workspace-builder/src/main/docker/Dockerfile.legacy-jar
  cinco-cloud/services/workspace-builder/src/main/docker/Dockerfile.native
  cinco-cloud/services/workspace-builder/src/main/docker/Dockerfile.native-distroless
  cinco-cloud/services/workspace-builder/src/main/java/info/scce/cincocloud/AbortBuildJobMessage.java
  cinco-cloud/services/workspace-builder/src/main/java/info/scce/cincocloud/BuildJob.java
  cinco-cloud/services/workspace-builder/src/main/java/info/scce/cincocloud/BuildResult.java
  cinco-cloud/services/workspace-builder/src/main/java/info/scce/cincocloud/MinioBuckets.java
  cinco-cloud/services/workspace-builder/src/main/java/info/scce/cincocloud/MinioService.java
  cinco-cloud/services/workspace-builder/src/main/java/info/scce/cincocloud/WorkspaceImageBuilder.java
  cinco-cloud/services/workspace-builder/src/main/resources/META-INF/resources/index.html
  cinco-cloud/services/workspace-builder/src/main/resources/application.properties
  cinco-cloud/services/workspace-builder/src/test/java/info/scce/cincocloud/BuildJobTest.java
  docs/vuepress/src/content/developer-guide/overview/README.md
  infrastructure/helm/templates/workspace-builder.yaml
  infrastructure/helm/values.yaml
  skaffold.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend, pages-build, pages, helm-lint, helm-package, helm-push

Adjust langium grammars and example files
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/cpd/language-server/cpd.langium
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/language-server/mgl.langium
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/exampleFiles/model/FlowGraph.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/exampleFiles/model/FlowGraph.style
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/exampleFiles/model/FlowGraphTool.cpd
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/scaffold.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Add missing cinco-theia extension
  cinco-cloud-archetype/editor/browser-app/package.json
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/css/cinco.css
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/css/property-widget.css
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/css/validation-widget.css
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/logs/.gitkeep
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/package.json
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/diagram/cinco-diagram-configuration.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/diagram/cinco-diagram-initiator.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/diagram/cinco-glsp-diagram-manager.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/file-system-util-contribution.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/frontend-module.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/generator/generator-contribution.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/git/git-configuration-contribution.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/output-messages/channel-api-contribution.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/property-widget/property-data-handler.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/property-widget/property-update-command.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/property-widget/property-widget-contribution.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/property-widget/property-widget.tsx
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/theia-registration/command-registration-interface.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/theia-registration/file-provider.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/validation-widget/validation-model-data-handler.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/validation-widget/validation-model-update-command.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/validation-widget/validation-model-widget.tsx
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/validation-widget/validation-project-widget.tsx
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/validation-widget/validation-widget-contribution.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/browser/validation-widget/validation-wrapper-commands.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/common/cinco-language.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/common/file-system-util-protocol.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/node/backend-module.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/node/cinco-glsp-server-contribution.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/src/node/file-system-util-server-node.ts
  cinco-cloud-archetype/editor/glsp-client/cinco-theia/tsconfig.json
  cinco-cloud-archetype/editor/glsp-client/tsconfig.eslint.json
  cinco-cloud-archetype/editor/package.json
  cinco-cloud-archetype/run.sh
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Add vscode meta data Add dev container Small fixes
  .gitignore
  cinco-cloud-archetype/.devcontainer/Dockerfile
  cinco-cloud-archetype/.devcontainer/devcontainer.json
  cinco-cloud-archetype/.vscode/launch.json
  cinco-cloud-archetype/.vscode/settings.json
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/editor/browser-app/package.json
  cinco-cloud-archetype/editor/cinco-glsp-server/.vscode/extensions.json
  cinco-cloud-archetype/editor/cinco-glsp-server/.vscode/launch.json
  cinco-cloud-archetype/editor/cinco-glsp-server/.vscode/settings.json
  cinco-cloud-archetype/editor/cinco-glsp-server/.vscode/tasks.json
  cinco-cloud-archetype/editor/glsp-client/.vscode/extensions.json
  cinco-cloud-archetype/editor/glsp-client/.vscode/launch.json
  cinco-cloud-archetype/editor/glsp-client/.vscode/settings.json
  cinco-cloud-archetype/editor/glsp-client/.vscode/tasks.json
  cinco-cloud-archetype/editor/yarn.lock
  cinco-cloud-archetype/node_modules/.yarn-integrity
  cinco-cloud-archetype/yarn.lock
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

remove unnecessary
  cinco-cloud-archetype/editor/cinco-glsp-server/.vscode/extensions.json
  cinco-cloud-archetype/editor/cinco-glsp-server/.vscode/launch.json
  cinco-cloud-archetype/editor/cinco-glsp-server/.vscode/settings.json
  cinco-cloud-archetype/editor/cinco-glsp-server/.vscode/tasks.json
  cinco-cloud-archetype/editor/glsp-client/.vscode/extensions.json
  cinco-cloud-archetype/editor/glsp-client/.vscode/launch.json
  cinco-cloud-archetype/editor/glsp-client/.vscode/settings.json
  cinco-cloud-archetype/editor/glsp-client/.vscode/tasks.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

hotfix: remove unused import
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/routingpoint-handler.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix gitignore
  cinco-cloud-archetype/editor/.gitignore
  cinco-cloud-archetype/editor/workspace/.gitkeep
  cinco-cloud-archetype/editor/workspace/main.flowgraph
  cinco-cloud-archetype/editor/workspace/main2.flowgraph
  cinco-cloud-archetype/editor/workspace/main4.flowgraph
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix env-vars in run-config and metaDevMode
  cinco-cloud-archetype/editor/.env
  cinco-cloud-archetype/editor/.vscode/launch.json
  cinco-cloud-archetype/editor/cinco-glsp-api/src/language-files-registry.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/meta-resource.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/flowgraph/example-double-click-action.js
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

remove deprecated recommendation
  cinco-cloud-archetype/editor/.vscode/extensions.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

add devmode, fix embedded mode, fix env-vars,
  cinco-cloud-archetype/editor/.vscode/launch.json
  cinco-cloud-archetype/editor/cinco-glsp-api/src/index.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/language-files-registry.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/utils/file-helper.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/dynamic-import-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/meta-resource.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/package.json
  cinco-cloud-archetype/editor/cinco-glsp-server/src/app.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/file-provider-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/meta-specification-reload-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/index.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/meta/meta-specification-loader.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/palette/custom-tool-palette-item-provider.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/tools/base-handler-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/utils/file-helper.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/cinco-glsp-server-socket-contribution.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

add missing run configuration
  cinco-cloud-archetype/editor/.vscode/launch.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Add missing generator properties to mgl/msl generator; enhance msl language; add vscode settings to cinco-languages-extension subproject
  cinco-cloud-archetype/.devcontainer/devcontainer.json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/.vscode/extensions.json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/.vscode/launch.json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/.vscode/settings.json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/.vscode/tasks.json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/model/specification-types.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/msl/language-server/msl.langium
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/syntaxes/cpd.tmLanguage.json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/syntaxes/mgl.tmLanguage.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Fix circular dependency in meta-specification generator json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Change naming of styles mainShape to shape for meta-specification generator
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Change mgl generator: Add attribute handling for model elements, fix edge connections, fix mgl types to match typescript properly
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/language-server/mgl.langium
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/syntaxes/mgl.tmLanguage.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Add command and actions to update meta-specification from langium vs-code extension on glsp server
  cinco-cloud-archetype/editor/cinco-glsp-client/src/di.config.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/update-meta-specification-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/index.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/meta-specification-update-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/diagram/cinco-diagram-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/meta-specification-update-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/common/cinco-language.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

replace MetaSpecUpdate-Procedure with SrvrArg-Prov
  cinco-cloud-archetype/editor/.vscode/launch.json
  cinco-cloud-archetype/editor/cinco-glsp-client/src/di.config.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/update-meta-specification-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/index.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/args-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/diagram/cinco-diagram-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/meta-specification-update-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/frontend-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/glsp-server-args-provider.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/common/cinco-language.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/common/file-system-util-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/common/glsp-server-util-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/backend-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/cinco-glsp-server-socket-contribution.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/glsp_server_args-provider.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Adjust CI pipelines to match new projects structure after replacements
  .gitlab-ci.yml
  cinco-cloud/services/main/backend/pom.xml
  cinco-cloud/services/main/frontend/package.json
  cinco-cloud/services/main/frontend/yarn.lock
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

Fix existing Dockerfiles for archetype and main service
  cinco-cloud-archetype/Dockerfile
  cinco-cloud/services/main/Dockerfile
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Bump docker version for CI
  .gitlab-ci.yml
Due: none

Add docker tls certdir variable to CI configs
  .gitlab-ci.yml
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/editor/browser-app/package.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix meta-specfication load mechanism and palette...
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-storage.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/custom-tool-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/dynamic-palette-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-model-sideloader.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-specification-loader.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-specification-response-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/meta-specification.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/meta-specification-reload-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/delete-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/meta-specification-reload-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/meta-specification-request-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/specified_edge_handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/specified_element_handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/specified_node_handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/meta/meta-specification-loader.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/palette/custom-tool-palette-item-provider.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-lint-workspace-builder-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-workspace-builder-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-workspace-builder: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-workspace-builder: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-test-build-pyro-client-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-install: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-test-compile-frontend: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-test-compile-backend: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*
  helm-lint: any of: infrastructure/**/*
  helm-package: any of: infrastructure/**/*
  helm-push: any of: infrastructure/**/*
