Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, pages-build, pages, helm-lint, helm-package, helm-push

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-check-dependencies-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-cloud-archetype/**/*
  archetype-test-build-cinco-languages-extension: any of: cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*
  helm-lint: any of: infrastructure/**/*
  helm-package: any of: infrastructure/**/*
  helm-push: any of: infrastructure/**/*

Disable "Potentially insecure host pattern" warning
  cinco-cloud-archetype/editor/browser-app/package.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Unify command categories
  cinco-cloud-archetype/editor/cinco-authenticator/src/browser/command-provider.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/generator-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/validation-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/theia-registration/command-registration-interface.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/theia-registration/file-provider.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/validation-widget/validation-widget-contribution.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/package.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Update logos and align spelling of Cinco Cloud
  cinco-cloud/services/main/frontend/src/app/core/components/logo/logo.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/logo/logo.component.scss
  cinco-cloud/services/main/frontend/src/app/core/components/logo/logo.component.ts
  cinco-cloud/services/main/frontend/src/app/core/core.module.ts
  cinco-cloud/services/main/frontend/src/app/features/home/components/user-navbar/user-navbar.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/about/about.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/login/login.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/register/register.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/welcome/welcome.component.html
  cinco-cloud/services/main/frontend/src/app/features/internal/components/navigation/navigation.component.html
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user-modal/delete-user-modal.component.html
  cinco-cloud/services/main/frontend/src/assets/img/cinco-logo-square.png
  cinco-cloud/services/main/frontend/src/assets/img/cinco-logo.png
  cinco-cloud/services/main/frontend/src/assets/img/favicons/android-chrome-192x192.png
  cinco-cloud/services/main/frontend/src/assets/img/favicons/android-chrome-512x512.png
  cinco-cloud/services/main/frontend/src/assets/img/favicons/apple-touch-icon.png
  cinco-cloud/services/main/frontend/src/assets/img/favicons/browserconfig.xml
  cinco-cloud/services/main/frontend/src/assets/img/favicons/favicon-16x16.png
  cinco-cloud/services/main/frontend/src/assets/img/favicons/favicon-32x32.png
  cinco-cloud/services/main/frontend/src/assets/img/favicons/favicon.ico
  cinco-cloud/services/main/frontend/src/assets/img/favicons/mstile-150x150.png
  cinco-cloud/services/main/frontend/src/assets/img/favicons/safari-pinned-tab.svg
  cinco-cloud/services/main/frontend/src/assets/img/favicons/site.webmanifest
  cinco-cloud/services/main/frontend/src/assets/img/logo.svg
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Fix UI issues
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/StartupBean.java
  cinco-cloud/services/main/frontend/src/app/core/components/pagination/pagination.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/pagination/pagination.component.ts
  cinco-cloud/services/main/frontend/src/app/features/home/pages/login/login.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/logout/logout.component.ts
  cinco-cloud/services/main/frontend/src/app/features/home/pages/register/register.component.html
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/create-project-modal.component.html
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/create-project-modal.component.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Fix color of toasts in organization view
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/create-project-modal.component.ts
  cinco-cloud/services/main/frontend/src/app/features/organizations/services/organization-store.service.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Fix that projects cannot be created in an organization
  cinco-cloud/services/main/frontend/src/app/core/services/api/organization-api.service.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Adjust pipeline to reflect recent changes to project-initializer
  .gitlab-ci.yml
Due: none

Set META_LANGUAGES_FOLDER and EDITOR_TYPE
  cinco-cloud-archetype/env.list
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Improve user search and add pagination
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/UserController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/UserService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/WorkspaceImageBuildJobService.java
  cinco-cloud/services/main/frontend/src/app/core/components/search-user-input/search-user-input.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/search-user-input/search-user-input.component.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/user-api.service.ts
  cinco-cloud/services/main/frontend/src/app/features/admin/components/add-admin-modal/add-admin-modal.component.html
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/users/users.component.html
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/users/users.component.ts
  cinco-cloud/services/main/frontend/src/app/features/organizations/pages/users/components/add-user-modal/add-user-modal.component.html
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user-modal/delete-user-modal.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-private-ownership-card/edit-private-ownership-card.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/users/components/add-user-modal/add-user-modal.component.html
  cinco-cloud/services/main/frontend/src/styles.scss
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Resolve "Theia should open the explorer by default instead the version control view"
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/git/git-configuration-contribution.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Resolve "MGL stylepath should correspond to MSL file"
  cinco-cloud-archetype/vscode-extensions/cinco-cloud-project-initializer/src/extension.ts
  cinco-cloud-archetype/vscode-extensions/cinco-cloud-project-initializer/src/initialize-project.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Improve handling of image uploads
  cinco-cloud/services/main/frontend/src/app/core/components/file-input/file-input.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/file-input/file-input.component.ts
  cinco-cloud/services/main/frontend/src/app/core/components/user-profile-image/user-profile-image.component.html
  cinco-cloud/services/main/frontend/src/app/features/internal/components/navigation/navigation.component.html
  cinco-cloud/services/main/frontend/src/app/features/organizations/pages/settings/components/edit-organization-card/edit-organization-card.component.html
  cinco-cloud/services/main/frontend/src/app/features/organizations/pages/settings/components/edit-organization-card/edit-organization-card.component.ts
  cinco-cloud/services/main/frontend/src/app/features/profile/components/personal-information/personal-information.component.html
  cinco-cloud/services/main/frontend/src/app/features/profile/components/personal-information/personal-information.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-project-card/edit-project-card.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-project-card/edit-project-card.component.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Rename TAG variable in pipeline
  .gitlab-ci.yml
Due: none

Enable development mode for quarkus with skaffold
  cinco-cloud/services/main/backend/src/main/resources/application.properties
  cinco-cloud/services/main/dev.Dockerfile
  skaffold.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Improve form validation for projects and organizations
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/OrganizationController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/ProjectController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/inputs/UpdateOrganizationInput.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/inputs/UpdateProjectInput.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/OrganizationService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/ProjectService.java
  cinco-cloud/services/main/frontend/package-lock.json
  cinco-cloud/services/main/frontend/package.json
  cinco-cloud/services/main/frontend/src/app/core/components/search-organization-input/search-organization-input.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/search-organization-input/search-organization-input.component.ts
  cinco-cloud/services/main/frontend/src/app/core/models/forms/update-project-input.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/organization-api.service.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/project-api.service.ts
  cinco-cloud/services/main/frontend/src/app/core/tos/update-project-input.ts
  cinco-cloud/services/main/frontend/src/app/features/organizations/pages/settings/components/edit-organization-card/edit-organization-card.component.scss
  cinco-cloud/services/main/frontend/src/app/features/organizations/pages/settings/components/edit-organization-card/edit-organization-card.component.ts
  cinco-cloud/services/main/frontend/src/app/features/organizations/services/organization-store.service.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/editor/editor.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-organization-ownership-card/edit-organization-ownership-card.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-private-ownership-card/edit-private-ownership-card.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-project-card/edit-project-card.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-project-card/edit-project-card.component.scss
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-project-card/edit-project-card.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/services/project-store.service.ts
  cinco-cloud/services/main/frontend/src/styles.scss
  cinco-cloud/services/main/frontend/yarn.lock
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Add generate button for graph models
  cinco-cloud-archetype/editor/.vscode/launch.json
  cinco-cloud-archetype/editor/cinco-glsp-client/src/di.config.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/custom-tool-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/dynamic-import-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-model-glsp-registration-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-model-sideloader.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-specification-response-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/index.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/editor-button-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/generator-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/css/cinco.css
  cinco-cloud-archetype/editor/cinco-glsp-theia/resources/generate_dark.svg
  cinco-cloud-archetype/editor/cinco-glsp-theia/resources/generate_light.svg
  cinco-cloud-archetype/editor/cinco-glsp-theia/resources/source.txt
  cinco-cloud-archetype/editor/cinco-glsp-theia/resources/upload_dark.svg
  cinco-cloud-archetype/editor/cinco-glsp-theia/resources/upload_light.svg
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/cinco-glsp-client-contribution.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/diagram/cinco-glsp-diagram-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/diagram/cinco-glsp-diagram-widget.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/frontend-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/generator/generator-contribution.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/menu/cinco-editor-button-configurator.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/common/cinco-language.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add context menu entries registration mechanism
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-model-glsp-registration-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/editor-button-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/package.json
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/cinco-glsp-client-contribution.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/frontend-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/menu/cinco-context-menu-button-configurator.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/menu/cinco-editor-button-configurator.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/meta/meta-specification-reload-command-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/utils/cinco-file-creation-executer.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix MR
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/diagram/cinco-glsp-diagram-manager.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

setup-workspace-git: Add note about well-known SSH server problem
  infrastructure/scripts/setup-workspace-git.sh
Due: helm-lint, helm-package, helm-push

setup-workspace-git: Change comments into echos
  infrastructure/scripts/setup-workspace-git.sh
Due: helm-lint, helm-package, helm-push

setup-workspace-git: Explain how to run this script
  infrastructure/scripts/setup-workspace-git.sh
Due: helm-lint, helm-package, helm-push

infrastructure: Add setup script for Git (remotes)
  infrastructure/scripts/setup-workspace-git.sh
Due: helm-lint, helm-package, helm-push

Add simple logging methods
  cinco-cloud-archetype/editor/cinco-glsp-api/src/api/api-base-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add API to create, delete, copy, read and check files and directories
  cinco-cloud-archetype/editor/cinco-glsp-api/src/api/api-base-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/api/root-path.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/utils/file-helper.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

setup-git-workspace: Fix problem of known_hosts file going missing
  infrastructure/scripts/setup-workspace-git.sh
Due: helm-lint, helm-package, helm-push

cinco-project-initializer: Fix vertical scrolling
  cinco-cloud-archetype/vscode-extensions/cinco-cloud-project-initializer/src/webview.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

cinco-glsp-common: Fix value type
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/property-model.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

cinco-languages-extension: Properly handle upper bound specifications in the meta-specification generator
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

property-view: Simplify upper bound checking
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/property-model.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Improve project exploration
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/WorkspaceImageController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/inputs/UpdateWorkspaceImageInput.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/WorkspaceImageTO.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/WorkspaceImageService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/db/WorkspaceImageDB.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/GraphModelType.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/GraphModelTypeSpec.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/MainServiceGrpcImpl.java
  cinco-cloud/services/main/backend/src/main/resources/db/migration/V13__add-featured-images.sql
  cinco-cloud/services/main/frontend/package-lock.json
  cinco-cloud/services/main/frontend/package.json
  cinco-cloud/services/main/frontend/src/app/core/components/loading-indicator/loading-indicator.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/loading-indicator/loading-indicator.component.scss
  cinco-cloud/services/main/frontend/src/app/core/components/loading-indicator/loading-indicator.component.ts
  cinco-cloud/services/main/frontend/src/app/core/core.module.ts
  cinco-cloud/services/main/frontend/src/app/core/models/inputs/update-workspace-image-input.ts
  cinco-cloud/services/main/frontend/src/app/core/models/workspace-image.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/workspace-image-api.service.ts
  cinco-cloud/services/main/frontend/src/app/features/admin/admin.component.html
  cinco-cloud/services/main/frontend/src/app/features/admin/admin.component.ts
  cinco-cloud/services/main/frontend/src/app/features/admin/admin.module.ts
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/projects/projects.component.html
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/projects/projects.component.scss
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/projects/projects.component.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/create-project-modal.component.html
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/create-project-modal.component.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/featured-projects/featured-projects.component.html
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/featured-projects/featured-projects.component.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/components/navigation/navigation.component.html
  cinco-cloud/services/main/frontend/src/app/features/internal/components/navigation/navigation.component.scss
  cinco-cloud/services/main/frontend/src/app/features/internal/components/navigation/navigation.component.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/internal.module.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/pages/overview/overview.component.ts
  cinco-cloud/services/main/frontend/src/app/features/organizations/pages/projects/projects.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/editor/editor.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/overview/components/overview-widget/overview-widget.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/services/project-store.service.ts
  cinco-cloud/services/main/frontend/yarn.lock
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

fix parsing of non spec.json files
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/MainServiceGrpcImpl.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

UI fix
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/featured-projects/featured-projects.component.html
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

add feedback for mgl generation
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/index.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/persistence_handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

hotfix for generate button
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/diagram/cinco-glsp-diagram-widget.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/meta/meta-specification-reload-command-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

hotfixes regarding model generation
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/generator-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/tools/base-handler-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/cinco-glsp-client-contribution.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/generator/generator-contribution.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/menu/cinco-editor-button-configurator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix and rework properties view by fixing state propagation
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/property-widget/property-widget.tsx
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add notifications for graph generator
  cinco-cloud-archetype/editor/cinco-glsp-server/src/tools/base-handler-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/generator/generator-contribution.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/meta/meta-specification-reload-command-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

cinco-languages-extension: Fix default upper bounds for containments and edges
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev
