Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, pages-build, pages, helm-lint, helm-package, helm-push

cinco-cloud-install-main-frontend:
  image: node:18
  script:
  - cd ./cinco-cloud/services/main/frontend
  - yarn install

cinco-cloud-lint-main-frontend:
  image: node:18
  needs:
  - cinco-cloud-install-main-frontend
  script:
  - cd ./cinco-cloud/services/main/frontend
  - yarn install
  - yarn lint

cinco-cloud-check-dependencies-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-lint-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-install-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-test-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-build-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: ./cinco-cloud/services
    DOCKERFILE: ./cinco-cloud/services/main/Dockerfile
    IMAGE: main
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

cinco-cloud-push-image-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    IMAGE: main
    VERSION: latest
    PUSH_TAGS: latest $CI_COMMIT_REF_NAME-$CI_COMMIT_SHA
  before_script:
  - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

cinco-cloud-deploy-testing:
  image:
    name: gcr.io/k8s-skaffold/skaffold:v1.27.0
  script:
  - kubectl config use-context scce/cinco-cloud:k8s-ls-5-de
  - skaffold deploy -p $PROFILE -n $NAMESPACE -t $TAG --status-check=true
  needs:
  - cinco-cloud-push-image-main
  variables:
    PROFILE: demo-k8s-ls5
    NAMESPACE: cinco-cloud-demo
  ...

archetype-build:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: .
    DOCKERFILE: ./cinco-cloud-archetype/Dockerfile
    IMAGE: archetype
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

Fix mgl generator target file name for glsp server target
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix project syntax of SomeGraph initialization
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/src/extension/scaffold.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

ADD: populated readme with content description, used technologies etc.
  README.md
  cinco-cloud-archetype/README.md
  cinco-cloud-archetype/editor/README.md
  cinco-cloud-archetype/editor/cinco-authenticator/README.md
  cinco-cloud-archetype/editor/cinco-branding/README.md
  cinco-cloud-archetype/editor/cinco-glsp-api/README.md
  cinco-cloud-archetype/editor/cinco-glsp-client/README.md
  cinco-cloud-archetype/editor/cinco-glsp-common/README.md
  cinco-cloud-archetype/editor/cinco-glsp-server/README.md
  cinco-cloud-archetype/editor/cinco-glsp-theia/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/README.md
  cinco-cloud/README.md
  cinco-cloud/services/main/README.md
  cinco-cloud/services/main/backend/README.md
  cinco-cloud/services/main/frontend/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

FIX: badge error, missing div
  README.md
  cinco-cloud-archetype/editor/cinco-authenticator/README.md
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

FIX: accidental overwrite of previous changes
  README.md
  cinco-cloud-archetype/README.md
  cinco-cloud-archetype/editor/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/README.md
  cinco-cloud/README.md
  cinco-cloud/services/main/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix and streamline getNodesBegindEdge
  cinco-cloud-archetype/editor/cinco-glsp-client/src/utils/canvas-utils.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add edge reconnect constraint check (backend)
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/reconnect-edge-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix reconnect of targets
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/routingpoint-aware-edge-edit-tool.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix glsp issues when changing edge + constraints
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/routingpoint-aware-edge-edit-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/utils/constraint-utils.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix image serving for msl-styling
  cinco-cloud-archetype/editor/cinco-glsp-client/src/utils/workspace-file-service.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/meta-resource.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix test-example
  cinco-cloud-archetype/editor/workspace/cinco-logo-square.png
  cinco-cloud-archetype/editor/workspace/msl-example.flowgraph
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add example files for testing
  cinco-cloud-archetype/editor/workspace/example.png
  cinco-cloud-archetype/editor/workspace/msl-example.flowgraph
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add link example
  cinco-cloud-archetype/editor/workspace/msl-example.flowgraph
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Resolve "Position and Size property is sometimes broken."
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Resolve "Model Editor Is Not Launched for Model Files If a Workspace Different From the Default Is Selected"
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/dynamic-import-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-model-sideloader.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-specification-loader.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/utils/workspace-file-service.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/meta-specification-reload-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/file-provider-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/diagram/cinco-glsp-diagram-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/theia-registration/file-provider.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add msl text parameter support for constant and resolving attributes
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/views/msl/cinco-view-helper.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/meta-specification.json
  cinco-cloud-archetype/editor/workspace/msl-example.flowgraph
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix circular dependency in meta-spec generator when using linestyles
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix mgl generator styleParameter and container handling
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Provide file write/read helper functions for BaseActionHandlers
  cinco-cloud-archetype/editor/cinco-glsp-api/src/api/api-base-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/language-files-registry.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/utils/file-helper.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/example-generator.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/file-provider-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/meta/meta-specification-loader.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/palette/custom-tool-palette-item-provider.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/tools/base-handler-manager.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/package.json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/resources/generate_dark.svg
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/resources/generate_light.svg
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/resources/source.txt
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/resources/upload_dark.svg
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/resources/upload_light.svg
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/icons/play.png
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Adjust project initializer gitignore to ignore built vsix files
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/.gitignore
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Enhance language designing capabilities regarding handlers
  cinco-cloud-archetype/editor/.vscode/launch.json
  cinco-cloud-archetype/editor/README.md
  cinco-cloud-archetype/editor/cinco-glsp-api/src/language-files-registry.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-specification-theia-command.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/frontend-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/glsp-server-utils-provider.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/theia-registration/command-registration-interface.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/common/glsp-server-util-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/glsp_server_args-provider.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/utils/file-helper.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix access rights for Dockerfile and associated run script
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/run.sh
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add inheritance resolution for the generation of meta-specifications
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/cli-util.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/index.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix glsp-diagram-widget reclaiming focus
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/diagram/cinco-glsp-diagram-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/diagram/cinco-glsp-diagram-widget.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add metadev mode and language dir in local workspace for dockerfile environment
  cinco-cloud-archetype/Dockerfile
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add to the generation of meta-specs the consideration of the size parameters of shapes
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/model/specification-types.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Bump archetype image version
  infrastructure/helm/values.yaml
Due: helm-lint, helm-package, helm-push

Create helm packages based on commit hash
  .gitlab-ci.yml
Due: none

Add manual deployment job for test environment
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update title of browser tab
  cinco-cloud/services/main/frontend/src/index.html
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Allow admins to set the archetype image
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/Properties.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/StartupBean.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/controller/SettingsController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/SettingsTO.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/ProjectDeploymentService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/SettingsService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/db/SettingsDB.java
  cinco-cloud/services/main/backend/src/main/resources/db/migration/V12__add-settings-archetype.sql
  cinco-cloud/services/main/frontend/src/app/core/models/settings.ts
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/settings/settings.component.html
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/settings/settings.component.ts
  infrastructure/helm/values.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, helm-lint, helm-package, helm-push

Fix helm jobs
  .gitlab-ci.yml
Due: none

Fix kubernetes resources for main service
  infrastructure/helm/templates/main.yaml
Due: helm-lint, helm-package, helm-push

Fix helm template
  infrastructure/helm/templates/main.yaml
Due: helm-lint, helm-package, helm-push

Update main.yaml
  infrastructure/helm/templates/main.yaml
Due: helm-lint, helm-package, helm-push

Fix issue with empty command line argument
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/Properties.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/StartupBean.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

improve readyness probe mechanism for deployed pods
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/ProjectDeploymentService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/K8SUtils.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/util/WaitUtils.java
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/editor/editor.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/editor/editor.component.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-check-dependencies-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-cloud-archetype/**/*
  archetype-test-build-cinco-languages-extension: any of: cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*
  helm-lint: any of: infrastructure/**/*
  helm-package: any of: infrastructure/**/*
  helm-push: any of: infrastructure/**/*
