Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend, pages-build, pages

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-lint-workspace-builder-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-workspace-builder-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-workspace-builder: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-workspace-builder: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-test-build-pyro-client-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-install: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-test-compile-frontend: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-test-compile-backend: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*

fix race condition in MGLExtension
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/MGLExtension.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Remove cache from cinco-ls-install job
  .gitlab-ci.yml
Due: none

archetype: Save state of history in micro view
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/pages/editor/command_history/command_history_component.dart
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/EditorComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

infrastructure: Make hostPath for persistent volumes configurable
  cinco-cloud/services/main/Dockerfile
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/ProjectDeploymentService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SPersistentVolume.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SPersistentVolume.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroDatabaseK8SPersistentVolume.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/shared/K8SPersistentVolumeOptions.java
  cinco-cloud/services/main/backend/src/main/resources/application.properties
  cinco-cloud/services/main/dev.Dockerfile
  infrastructure/helm/templates/ampq.yaml
  infrastructure/helm/templates/main.yaml
  infrastructure/helm/templates/minio.yaml
  infrastructure/helm/templates/postgres.yaml
  infrastructure/helm/values.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

main: Mask password input in Git modal
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/edit-git-information-card/edit-git-information-card.component.html
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

Add config.yaml file for k8s agents
  .gitlab/agents/k8s-ls-5-de/config.yaml
Due: none

archetype: Migrate theia to 1.28
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/DockerfileMinimal
  cinco-cloud-archetype/editor/.env
  cinco-cloud-archetype/editor/.vscode/launch.json
  cinco-cloud-archetype/editor/browser-app/package.json
  cinco-cloud-archetype/editor/cinco-branding/src/browser/Globals.d.ts
  cinco-cloud-archetype/editor/cinco-branding/src/browser/branding-frontend-module.ts
  cinco-cloud-archetype/editor/cinco-branding/src/browser/branding.ts
  cinco-cloud-archetype/editor/cinco-language-server-extension/src/shared/server-launcher.ts
  cinco-cloud-archetype/editor/package.json
  cinco-cloud-archetype/editor/pyro-server-extension/src/node/backend-extension.ts
  cinco-cloud-archetype/editor/pyro-server-extension/src/node/environment-vars.ts
  cinco-cloud-archetype/editor/pyro-server-extension/src/shared/server-launcher.ts
  cinco-cloud-archetype/editor/tsconfig.json
  cinco-cloud-archetype/env.list
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/src/pyroEditor.ts
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/tsconfig.json
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SDeployment.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SDeployment.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/Dockerfile
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/env.list
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/graphs/graphmodel/GraphmodelComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/MGLExtension.xtend
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

diplay edge menu only when at least 2 different options avialable
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/canvas/Controller.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

add small adjustment and fix
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/canvas/Controller.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Update infrastructure/helm/values-demo-k8s-ls5.yaml, skaffold.yaml, .gitlab-ci.yml
  .gitlab-ci.yml
  infrastructure/helm/values-demo-k8s-ls5.yaml
  infrastructure/helm/values-ls5vs024.yaml
  skaffold.yaml
Due: none

infrastructure: Use temporary persistent volumes in production environments
  cinco-cloud/services/main/Dockerfile
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/ProjectDeploymentService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SPersistentVolumeClaim.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SPersistentVolumeClaim.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroDatabaseK8SPersistentVolumeClaim.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/shared/K8SPersistentVolumeOptions.java
  cinco-cloud/services/main/backend/src/main/resources/application.properties
  cinco-cloud/services/main/backend/src/test/resources/application.properties
  cinco-cloud/services/main/dev.Dockerfile
  infrastructure/helm/templates/ampq.yaml
  infrastructure/helm/templates/main.yaml
  infrastructure/helm/templates/minio.yaml
  infrastructure/helm/templates/postgres.yaml
  infrastructure/helm/values-local-dev.yaml
  infrastructure/helm/values.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

Update storageClassName for demo server
  infrastructure/helm/values-demo-k8s-ls5.yaml
Due: none

archetype: Hotfix hardcoded graphModelType
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/graphs/graphmodel/GraphmodelComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

language-server: Improve check error message for outgoing transitions
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/backend/graphmodel/mcam/cli/OutgoingCheck.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

trigger pipeline for investigation
  cinco-cloud-archetype/editor/configs/errors.eslintrc.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

test fixed version of lerna
  cinco-cloud-archetype/editor/package.json
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

pin versions, update eslint
  cinco-cloud-archetype/editor/browser-app/package.json
  cinco-cloud-archetype/editor/cinco-authenticator/package.json
  cinco-cloud-archetype/editor/cinco-branding/package.json
  cinco-cloud-archetype/editor/cinco-frontend-configurator/package.json
  cinco-cloud-archetype/editor/cinco-frontend-configurator/src/browser/webview-dnd/custom-file-navigator-widget.ts
  cinco-cloud-archetype/editor/cinco-language-server-extension/package.json
  cinco-cloud-archetype/editor/cinco-language-server-extension/src/shared/log-protocol.ts
  cinco-cloud-archetype/editor/configs/base.eslintrc.json
  cinco-cloud-archetype/editor/configs/errors.eslintrc.json
  cinco-cloud-archetype/editor/pyro-server-extension/package.json
  cinco-cloud-archetype/editor/pyro-server-extension/src/shared/log-protocol.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

add yarn.lock file
  cinco-cloud-archetype/editor/.gitignore
  cinco-cloud-archetype/editor/yarn.lock
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

language-server: Fix bugs related to web sockets
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/auth/AuthPojo.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/sync/GraphModelRegistry.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/sync/GraphModelWebSocket.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/sync/ReceiverType.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/pyro_core.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/canvas/Controller.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/graphs/graphmodel/GraphmodelComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/MGLExtension.xtend
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/src/info/scce/cinco/product/ml/process/ExecuteML.java
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

archetype: Open prime references in Theia tabs
  cinco-cloud-archetype/editor/cinco-frontend-configurator/src/browser/frontend-event-controller/frontend-event-controller.ts
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/theia-pyro-protocol.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/EditorComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/CanvasComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

archetype: Gluelines-Button only visible, iff connectedToTheia
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/CanvasComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

language-server: Update JointJs to 3.5.5
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/css/joint.css
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/backbone.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/joint.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/jquery.min.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/lodash.js
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

language-server: Check (and fix) CommandHistory after new WebSocket Handling-Mechanism
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/model/command_graph.dart
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/pages/editor/command_history/command_history_component.css
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/pages/editor/command_history/command_history_component.dart
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/pages/editor/command_history/command_history_component.html
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/EditorComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/graphs/graphmodel/GraphmodelComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

language-server: Fix commandHistory not working when switching to "classic view"
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/pages/editor/command_history/command_history_component.dart
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/pages/editor/command_history/command_history_component.html
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/EditorComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

language-servier: Use minified JavaScript libraries
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/css/joint.min.css
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/backbone-min.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/joint.min.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/lodash.min.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/Index.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/preview/IndexHTML.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Update archetype version
  infrastructure/helm/values.yaml
Due: none

language-server: fix Pyrus issues
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/package.json
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/src/pyroApi.ts
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/src/pyroEditor.ts
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/core/PyroApiController.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/pyro_core.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/canvas/Controller.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/CanvasComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/graphs/graphmodel/GraphmodelComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/palette/graphs/graphmodel/PaletteBuilder.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/MGLExtension.xtend
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/src/test/java/de/jabc/cinco/meta/productdefinition/ide/test/CustomEndpointTest.java
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

bump archetype version
  infrastructure/helm/values.yaml
Due: none

Resolve "ConnectedToTheia Method only available iff service is integrated"
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/CanvasComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/properties/graphs/graphmodel/IdentifiableElementPropertyComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

language-server: "Make "New Graphmodel" entry in context menu not available in language editor
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/src/pyroEditor.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

language-server: exit build scripts on error
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/compile.sh
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/compileBackend.sh
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/compileFrontend.sh
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

main: Fix issues with updating the email address of a user
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/CurrentUserController.java
  cinco-cloud/services/main/frontend/src/app/core/services/stores/app-store.service.ts
  cinco-cloud/services/main/frontend/src/app/features/profile/components/personal-information/personal-information.component.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

docs: Update installation instructions for Minio
  docs/vuepress/src/content/developer-guide/installation/README.md
Due: pages-build, pages

main: Allow users to login with their name or email
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/AuthService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/inputs/UserLoginInput.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/AuthResponseTO.java
  cinco-cloud/services/main/backend/src/test/java/info/scce/cincocloud/core/CurrentUserControllerTest.java
  cinco-cloud/services/main/backend/src/test/java/info/scce/cincocloud/core/OrganizationControllerTest.java
  cinco-cloud/services/main/backend/src/test/java/info/scce/cincocloud/core/ProjectControllerTest.java
  cinco-cloud/services/main/backend/src/test/java/info/scce/cincocloud/core/RegistrationControllerTest.java
  cinco-cloud/services/main/frontend/src/app/core/models/forms/user-login-input.ts
  cinco-cloud/services/main/frontend/src/app/features/home/pages/login/login.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/login/login.component.ts
  cinco-cloud/services/main/frontend/src/app/features/home/pages/register/register.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/welcome/welcome.component.html
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

main: Fix that users cannot leave private projects
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/ProjectController.java
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/settings.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/services/project-store.service.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

main: Allow users to toggle image visibility
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/OrganizationAccessRightVectorController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/ProjectController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/WorkspaceImageController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/inputs/UpdateWorkspaceImageInput.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/WorkspaceImageTO.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/db/WorkspaceImageDB.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/mq/WorkspaceMQConsumer.java
  cinco-cloud/services/main/frontend/src/app/core/components/toggle-button/toggle-button.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/toggle-button/toggle-button.component.scss
  cinco-cloud/services/main/frontend/src/app/core/components/toggle-button/toggle-button.component.ts
  cinco-cloud/services/main/frontend/src/app/core/components/workspace-image-search-input/workspace-image-search-input.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/workspace-image-search-input/workspace-image-search-input.component.ts
  cinco-cloud/services/main/frontend/src/app/core/core.module.ts
  cinco-cloud/services/main/frontend/src/app/core/models/inputs/update-workspace-image-input.ts
  cinco-cloud/services/main/frontend/src/app/core/models/project.ts
  cinco-cloud/services/main/frontend/src/app/core/models/workspace-image.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/workspace-image-api.service.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-organization-modal/create-organization-modal.component.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/components/create-project-modal/create-project-modal.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/workspace-images-card/workspace-images-card.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/components/workspace-images-card/workspace-images-card.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/settings.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/projects.module.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/services/project-store.service.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

Resolve "Remove privatekey.pem from the repository"
  cinco-cloud/services/main/Dockerfile
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/auth/TokenUtils.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/Properties.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/AuthService.java
  cinco-cloud/services/main/backend/src/main/resources/application.properties
  cinco-cloud/services/main/backend/src/main/resources/privatekey.pem
  cinco-cloud/services/main/backend/src/main/resources/publickey.pem
  cinco-cloud/services/main/backend/src/test/resources/application.properties
  cinco-cloud/services/main/backend/src/test/resources/privatekey.pem
  cinco-cloud/services/main/backend/src/test/resources/publickey.pem
  cinco-cloud/services/main/dev.Dockerfile
  docs/vuepress/src/content/developer-guide/installation/README.md
  infrastructure/helm/templates/main.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, pages-build, pages

main: Fix issue with persistence of file uploads
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/Properties.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/StartupBean.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/FileController.java
  infrastructure/helm/templates/main.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

Add dependency analysis to CI pipeline and migrate quarkus-based services to v2.14
  .gitlab-ci.yml
  cinco-cloud/services/main/backend/pom.xml
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/config/StartupBean.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/CurrentUserController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/FileReferenceTO.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/GraphModelTypeSpecTO.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/GraphModelType.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/GraphModelTypeSpec.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/MainServiceGrpcImpl.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/mq/WorkspaceMQConsumer.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/rest/CustomObjectMapper.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/rest/RESTBaseImpl.java
  cinco-cloud/services/main/frontend/src/app/core/models/base-entity.ts
  cinco-cloud/services/workspace-builder/pom.xml
  cinco-cloud/services/workspace-builder/src/main/java/info/scce/cincocloud/WorkspaceImageBuilder.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing
