Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, pages-build, pages, helm-lint, helm-package, helm-push

cinco-cloud-install-main-frontend:
  image: node:18
  script:
  - cd ./cinco-cloud/services/main/frontend
  - yarn install

cinco-cloud-lint-main-frontend:
  image: node:18
  needs:
  - cinco-cloud-install-main-frontend
  script:
  - cd ./cinco-cloud/services/main/frontend
  - yarn install
  - yarn lint

cinco-cloud-check-dependencies-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-lint-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-install-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-test-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-build-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: ./cinco-cloud/services
    DOCKERFILE: ./cinco-cloud/services/main/Dockerfile
    IMAGE: main
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

cinco-cloud-push-image-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    IMAGE: main
    VERSION: latest
    PUSH_TAGS: latest $CI_COMMIT_REF_NAME-$CI_COMMIT_SHA
  before_script:
  - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

cinco-cloud-deploy-testing:
  image:
    name: gcr.io/k8s-skaffold/skaffold:v1.27.0
  script:
  - kubectl config use-context scce/cinco-cloud:k8s-ls-5-de
  - skaffold deploy -p $PROFILE -n $NAMESPACE -t $TAG --status-check=true
  needs:
  - cinco-cloud-push-image-main
  variables:
    PROFILE: demo-k8s-ls5
    NAMESPACE: cinco-cloud-demo
  ...

archetype-build:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: .
    DOCKERFILE: ./cinco-cloud-archetype/Dockerfile
    IMAGE: archetype
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

Remove disturbing notification
  cinco-cloud-archetype/editor/cinco-glsp-server/src/tools/base-handler-manager.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add relevant links to the home page
  cinco-cloud/services/main/frontend/package-lock.json
  cinco-cloud/services/main/frontend/package.json
  cinco-cloud/services/main/frontend/src/app/features/home/components/app-footer/app-footer.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/components/app-footer/app-footer.component.scss
  cinco-cloud/services/main/frontend/src/app/features/home/components/app-footer/app-footer.component.ts
  cinco-cloud/services/main/frontend/src/app/features/home/home.module.ts
  cinco-cloud/services/main/frontend/src/app/features/home/pages/home/home.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/home/home.component.scss
  cinco-cloud/services/main/frontend/src/app/features/home/pages/home/home.component.ts
  cinco-cloud/services/main/frontend/src/app/features/home/pages/login/login.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/register/register.component.html
  cinco-cloud/services/main/frontend/src/app/features/home/pages/welcome/welcome.component.html
  cinco-cloud/services/main/frontend/yarn.lock
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Initialize workspaces of model editors
  cinco-cloud-archetype/editor/minio-client/src/minio/minio-handler.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/components/project-list/project-list.component.html
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add theming for graph generate button
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/generator-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/css/cinco.css
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/generator/generator-contribution.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

create default projects for new users
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/SettingsTO.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/ProjectService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/SettingsService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/UserService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/db/SettingsDB.java
  cinco-cloud/services/main/backend/src/main/resources/db/migration/V14__add_create-default-projects.sql
  cinco-cloud/services/main/frontend/src/app/core/models/settings.ts
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/projects/projects.component.html
  cinco-cloud/services/main/frontend/src/app/features/admin/pages/settings/settings.component.html
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Remove image from featured projects when project is deleted
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/ProjectService.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Fix predefinedDecorator in generator
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix that a users cannot find their own private images
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/WorkspaceImageService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/db/WorkspaceImageDB.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Remove quotation marks
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Resolve "Misaligned Cinco Cloud icon in top menu bar"
  cinco-cloud/services/main/frontend/src/app/core/components/logo/logo.component.html
  cinco-cloud/services/main/frontend/src/app/core/components/logo/logo.component.ts
  cinco-cloud/services/main/frontend/src/app/features/home/components/user-navbar/user-navbar.component.html
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Fix error handling in the frontend
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/services/UserService.java
  cinco-cloud/services/main/frontend/src/app/app.module.ts
  cinco-cloud/services/main/frontend/src/app/core/interceptors/error-response-body-parser.interceptor.ts
  infrastructure/helm/templates/minio.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, helm-lint, helm-package, helm-push

remove diagram.css
  cinco-cloud-archetype/editor/languages/diagram.css
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

move files from frontend-languages-folder
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/cinco-logo-square.png
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/example.css
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/flowgraph/cinco-logo-square.png
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/icons/icon_flowgraph_activity.png
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/icons/icon_flowgraph_end.png
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/icons/icon_flowgraph_flowgraph.png
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/icons/icon_flowgraph_swimlane.png
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/icons/node_start.png
  cinco-cloud-archetype/editor/workspace/cinco-logo-square.png
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add getPortArg-method
  cinco-cloud-archetype/editor/cinco-glsp-api/src/utils/file-helper.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

implement theia-independent serverArgsProvision
  cinco-cloud-archetype/editor/cinco-glsp-client/src/di.config.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/server-args-response-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/args-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/diagram/cinco-diagram-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/server-args-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add keyword for loading files from languagesFolder
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/meta-specification-reload-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/file-provider-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix fileServing for frontend
  cinco-cloud-archetype/editor/cinco-glsp-client/src/utils/workspace-file-service.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/views/msl/cinco-view-helper.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

only allow loading of css files in frontend
  cinco-cloud-archetype/editor/cinco-glsp-common/src/meta-resource.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

dynamically load frontend files without import
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/dynamic-import-tool.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

load frontend files on reload of meta-spec
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-specification-response-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

propagate update of meta-spec to all clients
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/meta-specification-reload-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix convention of icon-naming
  cinco-cloud-archetype/editor/cinco-glsp-server/src/palette/custom-tool-palette-item-provider.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add example for icon-convention
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/meta-specification.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix #443
  cinco-cloud-archetype/editor/cinco-glsp-client/src/views/msl/cinco-graph-view.tsx
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add css extension
  cinco-cloud-archetype/editor/browser-app/plugins/vscode.css-1.79.0.vsix
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

update example cases
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/example.css
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix example
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/example.css
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

better caching of images against flickering-images
  cinco-cloud-archetype/editor/cinco-glsp-client/src/utils/workspace-file-service.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/views/msl/cinco-view-helper.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add handling of absolute paths
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/file-provider-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

move const to protocol
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/dynamic-import-tool.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/meta-specification-reload-protocol.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add theia-less file-provision for glsp-client
  cinco-cloud-archetype/editor/cinco-glsp-client/src/di.config.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/file-provider-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

check file existence before requesting (fix #346)
  cinco-cloud-archetype/editor/cinco-glsp-client/src/utils/workspace-file-service.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Clear language-folder in docker-file (#364)
  cinco-cloud-archetype/Dockerfile
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

streamline fileProvision and optimize icon loading
  cinco-cloud-archetype/editor/cinco-glsp-client/src/di.config.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/file-provider-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/dynamic-import-tool.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add keybindings for mgl-generation+upload (#407)
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/package.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-check-dependencies-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-cloud-archetype/**/*
  archetype-test-build-cinco-languages-extension: any of: cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*
  helm-lint: any of: infrastructure/**/*
  helm-package: any of: infrastructure/**/*
  helm-push: any of: infrastructure/**/*
