Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, pages-build, pages, helm-lint, helm-package, helm-push

cinco-cloud-install-main-frontend:
  image: node:18
  script:
  - cd ./cinco-cloud/services/main/frontend
  - yarn install

cinco-cloud-lint-main-frontend:
  image: node:18
  needs:
  - cinco-cloud-install-main-frontend
  script:
  - cd ./cinco-cloud/services/main/frontend
  - yarn install
  - yarn lint

cinco-cloud-check-dependencies-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-lint-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-install-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-test-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-build-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: ./cinco-cloud/services
    DOCKERFILE: ./cinco-cloud/services/main/Dockerfile
    IMAGE: main
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

cinco-cloud-push-image-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    IMAGE: main
    VERSION: latest
    PUSH_TAGS: latest $CI_COMMIT_REF_NAME-$CI_COMMIT_SHA
  before_script:
  - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

cinco-cloud-deploy-testing:
  image:
    name: gcr.io/k8s-skaffold/skaffold:v1.27.0
  script:
  - kubectl config use-context scce/cinco-cloud:k8s-ls-5-de
  - skaffold deploy -p $PROFILE -n $NAMESPACE -t $TAG --status-check=true
  needs:
  - cinco-cloud-push-image-main
  variables:
    PROFILE: demo-k8s-ls5
    NAMESPACE: cinco-cloud-demo
  ...

archetype-build:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: .
    DOCKERFILE: ./cinco-cloud-archetype/Dockerfile
    IMAGE: archetype
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

add more meta fileTypes to list
  cinco-cloud-archetype/editor/cinco-glsp-common/src/meta-resource.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix reloading
  cinco-cloud-archetype/editor/cinco-glsp-server/src/meta/meta-specification-loader.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix backend serving of files
  cinco-cloud-archetype/editor/cinco-glsp-server/src/web-server/file-download-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add fix for "tool-palette not found" error
  cinco-cloud-archetype/editor/cinco-glsp-client/src/glsp/cinco-tool-palette-update-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/glsp/cinco-tool-palette.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix example
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/meta-specification.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add indentation
  cinco-cloud-archetype/editor/cinco-glsp-server/languages/webview-test/webview.style
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix icon
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/frontend-resource.loader.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix palette categories
  cinco-cloud-archetype/editor/cinco-glsp-common/src/meta-specification.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix race-condition
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/cinco-logging-contribution.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add reloading canvas on meta-model change
  cinco-cloud-archetype/editor/cinco-glsp-client/src/glsp/cinco-preparations-startup.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

remove outdated authenticator
  cinco-cloud-archetype/editor/cinco-authenticator/README.md
  cinco-cloud-archetype/editor/cinco-authenticator/package.json
  cinco-cloud-archetype/editor/cinco-authenticator/src/browser/command-provider.ts
  cinco-cloud-archetype/editor/cinco-authenticator/src/browser/frontend-extension.ts
  cinco-cloud-archetype/editor/cinco-authenticator/src/node/backend-extension.ts
  cinco-cloud-archetype/editor/cinco-authenticator/src/node/cinco-authenticator.ts
  cinco-cloud-archetype/editor/cinco-authenticator/src/node/debugHandler.ts
  cinco-cloud-archetype/editor/cinco-authenticator/tsconfig.json
  cinco-cloud-archetype/editor/package.json
  cinco-cloud-archetype/editor/tsconfig.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

remove unnecessary authenticator
  cinco-cloud-archetype/editor/browser-app/package.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

remove unnecessary authenticator
  cinco-cloud-archetype/editor/.vscode/launch.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add error message
  cinco-cloud-archetype/editor/cinco-glsp-api/src/utils/file-helper.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

clear envvars and port
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/env.list
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

remove outdated info
  cinco-cloud-archetype/README.md
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

disable recursive file watching, only watching languages-root
  cinco-cloud-archetype/editor/cinco-glsp-server/src/meta/meta-specification-loader.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

remove tailwind
  cinco-cloud-archetype/editor/cinco-glsp-standalone/app/diagram.html
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

make host as parameter
  cinco-cloud-archetype/editor/cinco-glsp-standalone/src/app.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

add id logging
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/cinco-glsp-client-contribution.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix weird error message
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/cinco-theia-logger.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix host adresse for websocket and run.sh
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/cinco-glsp-server-socket-contribution.ts
  cinco-cloud-archetype/run.sh
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix by update anomalie
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/cinco-glsp/theia-environment-provider.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

remove comma
  cinco-cloud-archetype/editor/.vscode/launch.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

update ENV Var
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/editor/.env
  cinco-cloud-archetype/env.list
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

clean minio-package
  cinco-cloud-archetype/editor/minio-client/src/index.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

adapt to theia 1.46.1
  cinco-cloud-archetype/editor/browser-app/package.json
  cinco-cloud-archetype/editor/cinco-glsp-server/src/web-server/file-download-handler.ts
  cinco-cloud-archetype/editor/package.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix websocket connection and serving
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/server-args-response-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/utils/workspace-file-service.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/meta-resource.ts
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/args-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/server-args-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-standalone/src/app.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/cinco-glsp-client-contribution.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/cinco-glsp-server-args-setup.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/node/glsp-server-util-server-node.ts
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SDeployment.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SIngress.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SService.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix open default workspace at startup
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/editor/editor.component.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

update quarkus to 2.16.12
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Fix MGL generation destination for remaining configurations
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/extension.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/index.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Temporarily relax the CVSS fail threshold
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

update to 3.7.3
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

downgrade
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

try to fix cicd
  .gitlab-ci.yml
Due: none

upgrade to quarkus 3.7.3
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

temporarily raise CVSS
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

exclude org.glassfish.expressly:expressly
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-check-dependencies-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-cloud-archetype/**/*
  archetype-test-build-cinco-languages-extension: any of: cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*
  helm-lint: any of: infrastructure/**/*
  helm-package: any of: infrastructure/**/*
  helm-push: any of: infrastructure/**/*
