Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend, pages-build, pages

cinco-cloud-install-main-frontend:
  image: node:16.14.0
  script:
  - cd ./cinco-cloud/services/main/frontend
  - npm install

cinco-cloud-lint-main-frontend:
  image: node:16.14.0
  needs:
  - cinco-cloud-install-main-frontend
  script:
  - cd ./cinco-cloud/services/main/frontend
  - npm install
  - npm run lint

cinco-cloud-lint-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-install-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-test-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-build-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: ./cinco-cloud/services
    DOCKERFILE: ./cinco-cloud/services/main/Dockerfile
    IMAGE: main
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

cinco-cloud-lint-workspace-builder-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-install-workspace-builder-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-build-workspace-builder:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: ./cinco-cloud/services
    DOCKERFILE: ./cinco-cloud/services/workspace-builder/Dockerfile
    IMAGE: workspace-builder
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

cinco-cloud-deploy-testing:
  image:
    name: gcr.io/k8s-skaffold/skaffold:v1.27.0
  script:
  - kubectl config set-cluster ls5vs024-cluster --server=https://129.217.27.124:16443
  - kubectl config set clusters.ls5vs024-cluster.certificate-authority-data $CLUSTER_CERT
  ...

fixes for cinco cloud
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/pages/editor/properties/properties_component.html
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/theia-pyro-protocol.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/properties/graphs/graphmodel/IdentifiableElementPropertyComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

add file-support for copy function
  cinco-cloud-archetype/vscode-extensions/cinco-extension/src/helper/toolHelper.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

change path to fsPath (for windows support)
  cinco-cloud-archetype/vscode-extensions/cinco-extension/src/git/gitHandler.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix ActivityGenerator to fit new File-Abstraction
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/src/info/scce/cinco/product/webstory/generator/ActivityGenerator.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

resolving race-condition
  cinco-cloud-archetype/editor/cinco-language-server-extension/src/shared/server-launcher.ts
  cinco-cloud-archetype/editor/pyro-server-extension/src/node/backend-extension.ts
  cinco-cloud-archetype/editor/pyro-server-extension/src/shared/server-launcher.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix zip on windows not working
  cinco-cloud/services/workspace-builder/scripts/build.sh
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

fix WORKSPACE_PATH envvar missing
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SDeployment.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

remove unused dependencies
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/backend/graphmodel/api/impl/GraphModelElementImplementation.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix example using wrong datatype
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/model/ExternalLibrary.ecore
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

update attributes example
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/model/Attributes.mgl
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

update mgl language for the usecase of #151
  cinco-language-server/de.jabc.cinco.meta.core.mgl.model/model/MGL.ecore
  cinco-language-server/de.jabc.cinco.meta.core.mgl/src/main/java/de/jabc/cinco/meta/core/mgl/MGL.xtext
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

refactor and fix datatype generation
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/backend/graphmodel/command/GraphModelCommandExecuter.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/MGLExtension.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

add environment variables based on enum
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SDeployment.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SDeployment.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/shared/EditorType.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

revert pipeline fix
  .gitlab-ci.yml
Due: none

remove rm
  .gitlab-ci.yml
Due: none

main: Fix duplicate creation of Workspace Images
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/db/WorkspaceImageDB.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/MainServiceGrpcImpl.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

archetype: Hide Hibernate Queries in Quarkus-Log of PyroServer
  cinco-language-server/de.jabc.cinco.meta.core.mgl.model/model/MGL.ecore
  cinco-language-server/de.jabc.cinco.meta.core.mgl/src/main/java/de/jabc/cinco/meta/core/mgl/MGL.xtext
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/resources/application.properties
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/backend/graphmodel/api/impl/GraphModelElementImplementation.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/backend/graphmodel/command/GraphModelCommandExecuter.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/MGLExtension.xtend
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/model/Attributes.mgl
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/model/ExternalLibrary.ecore
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix add missing escape functionality
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/Escaper.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/MGLExtension.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

main: Fix exception when trying to deploy a project-pod during the deployment process
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/ProjectDeploymentService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/K8SUtils.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

fix Dockerfile not working in main-app
  cinco-cloud-archetype/Dockerfile
  cinco-cloud-archetype/DockerfileMinimal
  cinco-cloud-archetype/build.sh
  cinco-cloud-archetype/buildMinimal.sh
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Add feature env var editor type
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SDeployment.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SDeployment.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/shared/EditorType.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

archetype: Follow cursor on canvas
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/web/js/pyro_core.js
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/canvas/Controller.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/CanvasComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/graphs/graphmodel/GraphmodelComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

Bump archetype version
  infrastructure/helm/values.yaml
Due: none

archetype: Checkless CincoProducts do not generate valid code
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/CanvasComponent.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

bump archetype version
  infrastructure/helm/values.yaml
Due: none

archetype: fix Pyro server not started if database is not yet
  cinco-cloud-archetype/editor/cinco-language-server-extension/src/shared/server-launcher.ts
  cinco-cloud-archetype/editor/pyro-server-extension/src/shared/server-launcher.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

main: Block project/organization deletion when there are active buildjobs in associated projects
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/OrganizationController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/ProjectController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/rest/tos/BooleanTO.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/db/ProjectDB.java
  cinco-cloud/services/main/frontend/src/app/core/models/boolean-response.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/organization-api.service.ts
  cinco-cloud/services/main/frontend/src/app/core/services/api/project-api.service.ts
  cinco-cloud/services/main/frontend/src/app/features/organizations/pages/settings/settings.component.html
  cinco-cloud/services/main/frontend/src/app/features/organizations/pages/settings/settings.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/settings.component.html
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/settings.component.ts
  cinco-cloud/services/main/frontend/src/app/features/projects/services/project-store.service.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

archetype: Display username in cursors on the canvas
  cinco-cloud-archetype/editor/cinco-authenticator/src/browser/command-provider.ts
  cinco-cloud-archetype/editor/cinco-authenticator/src/browser/frontend-extension.ts
  cinco-cloud-archetype/editor/pyro-server-extension/src/node/exec-vars.ts
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/src/pyroApi.ts
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/src/pyroEditor.ts
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SDeployment.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/entity/core/PyroStyleDB.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/entity/core/PyroUserDB.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/auth/AuthPojo.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/auth/MainAppAuthClient.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/auth/PyroSecurityContext.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/auth/PyroUserRegistry.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/auth/SecurityOverrideFilter.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/core/CurrentUserController.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/core/SettingsController.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/style/MainAppStyleClient.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/sync/GraphModelWebSocket.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/java/info/scce/pyro/sync/UpdateCursorPosition.java
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/app/src/main/resources/application.properties
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/archetype/env.list
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/service/base_service.dart
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/frontend/app/lib/src/service/fileService.dart
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/backend/core/GraphModelControllerGenerator.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/backend/core/InitializeSettingsBean.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/EditorComponent.xtend
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/frontend/pages/editor/canvas/graphs/graphmodel/GraphmodelComponent.xtend
  docs/vuepress/src/.vuepress/public/assets/pyro-client-extension-0.0.1.vsix
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend, pages-build, pages

add check:
  cinco-language-server/de.jabc.cinco.meta.core.mgl/src/main/java/de/jabc/cinco/meta/core/mgl/validation/MGLValidator.xtend
  cinco-language-server/de.jabc.cinco.meta.core.utils/src/main/java/de/jabc/cinco/meta/core/utils/InheritanceUtil.java
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

update testCases
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/model/Hierarchy.mgl
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/model/HooksAndActions.mgl
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

move ParserHelper, add checks for mgls
  cinco-language-server/de.jabc.cinco.meta.core.utils/src/main/java/de/jabc/cinco/meta/core/utils/ParserHelper.java
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/src/main/java/de/jabc/cinco/meta/productdefinition/ide/endpoint/CincoLanguageServerExtension.java
  cinco-language-server/de.jabc.cinco.meta.productdefinition.ide/test-data/test-project/model/Test.cpd
  cinco-language-server/de.jabc.cinco.meta.productdefinition/src/main/java/de/jabc/cinco/meta/productdefinition/validation/CPDValidator.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix embeddingTypes
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/util/MGLExtension.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix indentations
  cinco-language-server/de.jabc.cinco.meta.plugin.pyro.generator/src/main/java/de/jabc/cinco/meta/plugin/pyro/backend/graphmodel/api/impl/GraphModelElementImplementation.xtend
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

fix issue #278
  cinco-cloud-archetype/vscode-extensions/pyro-client-extension/src/pyroApi.ts
Due: archetype-test-build-cinco-extension, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-pyro-client-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, cinco-ls-install, cinco-ls-test-compile-frontend, cinco-ls-test-compile-backend

main: Allow users to delete their account
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/UserController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/UserService.java
  cinco-cloud/services/main/backend/src/test/java/info/scce/cincocloud/core/UserControllerTest.java
  cinco-cloud/services/main/frontend/src/app/core/core.module.ts
  cinco-cloud/services/main/frontend/src/app/features/internal/internal.module.ts
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user-modal/delete-user-modal.component.html
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user-modal/delete-user-modal.component.scss
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user-modal/delete-user-modal.component.ts
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user.component.html
  cinco-cloud/services/main/frontend/src/app/features/profile/components/delete-user/delete-user.component.ts
  cinco-cloud/services/main/frontend/src/app/features/profile/profile.component.html
  cinco-cloud/services/main/frontend/src/app/features/profile/profile.module.ts
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing

Refactor kubernetes files and provide Helm chart
  .gitignore
  .gitlab-ci.yml
  cinco-cloud/services/main/Dockerfile
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/ProjectDeploymentService.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/core/UserController.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SPersistentVolume.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/languageeditor/TheiaK8SPersistentVolumeClaim.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SPersistentVolume.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroAppK8SPersistentVolumeClaim.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroDatabaseK8SPersistentVolume.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/modeleditor/PyroDatabaseK8SPersistentVolumeClaim.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/k8s/shared/K8SPersistentVolumeOptions.java
  cinco-cloud/services/main/backend/src/main/resources/application.properties
  cinco-cloud/services/main/backend/src/test/resources/application.properties
  cinco-cloud/services/main/dev.Dockerfile
  docs/vuepress/src/content/developer-guide/installation/README.md
  infrastructure/helm/Chart.yaml
  infrastructure/helm/templates/ampq.yaml
  infrastructure/helm/templates/issuer.yaml
  infrastructure/helm/templates/main.yaml
  infrastructure/helm/templates/minio.yaml
  infrastructure/helm/templates/postgres.yaml
  infrastructure/helm/templates/workspace-builder.yaml
  infrastructure/helm/values-local-dev.yaml
  infrastructure/helm/values-local-prod.yaml
  infrastructure/helm/values-ls5vs024.yaml
  infrastructure/helm/values.yaml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-lint-workspace-builder-backend, cinco-cloud-install-workspace-builder-backend, cinco-cloud-build-workspace-builder, cinco-cloud-push-image-main, cinco-cloud-push-image-workspace-builder, cinco-cloud-deploy-testing, pages-build, pages

infrastructure: Specify images for helm chart
  infrastructure/helm/values.yaml
Due: none

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-lint-workspace-builder-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-workspace-builder-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-workspace-builder: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-workspace-builder: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-test-build-pyro-client-extension: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-install: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-test-compile-frontend: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  cinco-ls-test-compile-backend: any of: cinco-language-server/**/*, cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*
