Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, pages-build, pages, helm-lint, helm-package, helm-push

cinco-cloud-install-main-frontend:
  image: node:18
  script:
  - cd ./cinco-cloud/services/main/frontend
  - yarn install

cinco-cloud-lint-main-frontend:
  image: node:18
  needs:
  - cinco-cloud-install-main-frontend
  script:
  - cd ./cinco-cloud/services/main/frontend
  - yarn install
  - yarn lint

cinco-cloud-check-dependencies-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-lint-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  ...

cinco-cloud-install-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-test-main-backend:
  image: maven:3.8.1-jdk-11
  services:
  - docker:20.10.6-dind
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  ...

cinco-cloud-build-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: ./cinco-cloud/services
    DOCKERFILE: ./cinco-cloud/services/main/Dockerfile
    IMAGE: main
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

cinco-cloud-push-image-main:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    IMAGE: main
    VERSION: latest
    PUSH_TAGS: latest $CI_COMMIT_REF_NAME-$CI_COMMIT_SHA
  before_script:
  - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

cinco-cloud-deploy-testing:
  image:
    name: gcr.io/k8s-skaffold/skaffold:v1.27.0
  script:
  - kubectl config use-context scce/cinco-cloud:k8s-ls-5-de
  - skaffold deploy -p $PROFILE -n $NAMESPACE -t $TAG --status-check=true
  needs:
  - cinco-cloud-push-image-main
  variables:
    PROFILE: demo-k8s-ls5
    NAMESPACE: cinco-cloud-demo
  ...

archetype-build:
  image: docker:20.10.6
  services:
  - docker:20.10.6-dind
  variables:
    DOCKER_DRIVER: overlay
    CONTEXT: .
    DOCKERFILE: ./cinco-cloud-archetype/Dockerfile
    IMAGE: archetype
    VERSION: latest
  script:
  - mkdir "$IMAGE-$VERSION"
  ...

remove unused inject
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-gmodel-factory.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

provide theia command for reload of metaspecification
  cinco-cloud-archetype/editor/cinco-glsp-client/src/di.config.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/features/custom-tool-manager.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/meta/meta-specification-theia-command.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/model/graph-model-provider.ts
  cinco-cloud-archetype/editor/cinco-glsp-client/src/views/msl/cinco-graph-view.tsx
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/meta-specification-reload-protocol.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/meta-specification-reload-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/meta-specification-request-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/theia-registration/command-registration-interface.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix Dev Container UID file system permission errors
  cinco-cloud-archetype/.devcontainer/Dockerfile
  cinco-cloud-archetype/.devcontainer/devcontainer.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix dockerfiles for main service
  cinco-cloud/services/main/Dockerfile
  cinco-cloud/services/main/dev.Dockerfile
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Remove remains of no longer needed arm image
  docs/vuepress/src/content/developer-guide/installation/README.md
  skaffold.yaml
Due: pages-build, pages

cinco-glsp-server: Add reconnect edge handler
  cinco-cloud-archetype/editor/cinco-glsp-server/src/diagram/cinco-diagram-module.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/reconnect-edge-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

lazy-merging: Properly name assignments property
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.drawio
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.svg
Due: pages-build, pages

lazy merging: Model edit/delete conflicts in illustration
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.drawio
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.svg
Due: pages-build, pages

lazy-merging: Assign sets of values in illustration
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.drawio
Due: pages-build, pages

Revert "lazy-merging: Simplify sketch of data model with variant potentials"
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.drawio
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.svg
Due: pages-build, pages

lazy-merging: Sketch data models
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.drawio
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.svg
Due: pages-build, pages

lazy-merging: Simplify sketch of data model with variant potentials
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.drawio
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.svg
Due: pages-build, pages

lazy-merging: Store tombstones separately in illustration
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.drawio
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.svg
Due: pages-build, pages

lazy-merging: Generalize sourceID property of edges
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-gmodel-factory.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/reconnect-edge-handler.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/specified_edge_handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

lazy-merging: Sort assignment values and filter out duplicates
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Record assignment of values sets and create module for CellAssignments
  cinco-cloud-archetype/editor/cinco-glsp-api/src/index.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/cell-assignments.ts
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/specified_edge_handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

lazy-merging: Use crypto module for UUIDs
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/specified_edge_handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

lazy-merging: Start to sketch entity separation
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Revert "lazy-merging: Start to sketch entity separation"
  cinco-cloud-archetype/editor/cinco-glsp-api/src/model/graph-model.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

ADD: new readme draft
  README.md
Due: none

DELETE: Old CincoCloud Banner
  README.md
Due: none

FIX: path to logo
  cinco-cloud/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

ADD: add cinco-cloud logo
  docs/vuepress/src/.vuepress/public/assets/cinco_cloud_logo.png
Due: pages-build, pages

ADD: license to lower level readme.md
  README.md
  cinco-cloud/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

ADD: updated most existing readme with new header and license footer
  cinco-cloud-archetype/README.md
  cinco-cloud-archetype/editor/README.md
  cinco-cloud-archetype/editor/cinco-glsp-api/README.md
  cinco-cloud-archetype/editor/cinco-glsp-common/README.md
  cinco-cloud/README.md
  cinco-cloud/services/main/README.md
  cinco-cloud/services/main/backend/README.md
  cinco-cloud/services/main/frontend/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

ADD: missing README.md templates for every extension/plugin
  cinco-cloud-archetype/editor/cinco-authenticator/README.md
  cinco-cloud-archetype/editor/cinco-branding/README.md
  cinco-cloud-archetype/editor/cinco-glsp-client/README.md
  cinco-cloud-archetype/editor/cinco-glsp-server/README.md
  cinco-cloud-archetype/editor/cinco-glsp-theia/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/README.md
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix some READMEs for preview
  README.md
  cinco-cloud-archetype/README.md
  cinco-cloud-archetype/editor/README.md
  cinco-cloud-archetype/editor/cinco-authenticator/README.md
  cinco-cloud-archetype/editor/cinco-branding/README.md
  cinco-cloud-archetype/editor/cinco-glsp-api/README.md
  cinco-cloud-archetype/editor/cinco-glsp-client/README.md
  cinco-cloud-archetype/editor/cinco-glsp-common/README.md
  cinco-cloud-archetype/editor/cinco-glsp-server/README.md
  cinco-cloud-archetype/editor/cinco-glsp-theia/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/README.md
  cinco-cloud/README.md
  cinco-cloud/services/main/README.md
  cinco-cloud/services/main/backend/README.md
  cinco-cloud/services/main/frontend/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

FIX: logo size
  cinco-cloud/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

FIX: path to logo
  cinco-cloud-archetype/editor/README.md
  cinco-cloud-archetype/editor/cinco-branding/README.md
  cinco-cloud-archetype/editor/cinco-glsp-api/README.md
  cinco-cloud-archetype/editor/cinco-glsp-common/README.md
  cinco-cloud/services/main/README.md
  cinco-cloud/services/main/backend/README.md
  cinco-cloud/services/main/frontend/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

ADD: Template Draft for new README.md
  README.md
Due: none

ADD: Section about projects
  README.md
Due: none

ADD: more details to README.md
  README.md
Due: none

ADD: new README.md for cinco-cloud frontend
  cinco-cloud/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Fix package.json meta data for project initializer
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/package.json
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Replace relative image paths with URLs in READMEs
  README.md
  cinco-cloud-archetype/README.md
  cinco-cloud-archetype/editor/README.md
  cinco-cloud-archetype/editor/cinco-authenticator/README.md
  cinco-cloud-archetype/editor/cinco-branding/README.md
  cinco-cloud-archetype/editor/cinco-glsp-api/README.md
  cinco-cloud-archetype/editor/cinco-glsp-client/README.md
  cinco-cloud-archetype/editor/cinco-glsp-common/README.md
  cinco-cloud-archetype/editor/cinco-glsp-server/README.md
  cinco-cloud-archetype/editor/cinco-glsp-theia/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/README.md
  cinco-cloud-archetype/vscode-extensions/cinco-project-initializer/README.md
  cinco-cloud/README.md
  cinco-cloud/services/main/README.md
  cinco-cloud/services/main/backend/README.md
  cinco-cloud/services/main/frontend/README.md
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

frontend: fix styling issues due to migration
  cinco-cloud/services/main/frontend/src/app/features/projects/pages/settings/settings.component.html
  cinco-cloud/services/main/frontend/src/styles.scss
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

lazy-merging: Update illustration
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.drawio
  docs/vuepress/src/content/developer-guide/overview/assets/lazy-merging.svg
Due: pages-build, pages

Improve Docker Run Script of Archetype for Working on Local Projects
  cinco-cloud-archetype/editor/.gitignore
  cinco-cloud-archetype/editor/workspace/.gitkeep
  cinco-cloud-archetype/run.sh
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix mgl generator target file name
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-check-dependencies-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-cloud-archetype/**/*
  archetype-test-build-cinco-languages-extension: any of: cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*
  helm-lint: any of: infrastructure/**/*
  helm-package: any of: infrastructure/**/*
  helm-push: any of: infrastructure/**/*
