Repository SoweluAvanzo/DAO-ML_Cinco_Cloud_Editor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing, archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev, pages-build, pages, helm-lint, helm-package, helm-push

Path conditions:
  cinco-cloud-install-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-frontend: any of: cinco-cloud/**/*
  cinco-cloud-check-dependencies-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-lint-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-install-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-test-main-backend: any of: cinco-cloud/**/*
  cinco-cloud-build-main: any of: cinco-cloud/**/*
  cinco-cloud-push-image-main: any of: cinco-cloud/**/*
  cinco-cloud-deploy-testing: any of: cinco-cloud/**/*
  archetype-test-build-cinco-project-initializer-extension: any of: cinco-cloud-archetype/**/*
  archetype-test-build-cinco-languages-extension: any of: cinco-cloud-archetype/**/*
  archetype-build: any of: cinco-cloud-archetype/**/*
  archetype-push: any of: cinco-cloud-archetype/**/*
  archetype-build-dev: any of: cinco-cloud-archetype/**/*
  archetype-push-dev: any of: cinco-cloud-archetype/**/*
  pages-build: any of: docs/**/*
  pages: any of: docs/**/*
  helm-lint: any of: infrastructure/**/*
  helm-package: any of: infrastructure/**/*
  helm-push: any of: infrastructure/**/*

try fix pipeline
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

Revert "update quarkus to 2.16.12"
  cinco-cloud/services/main/backend/pom.xml
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

try fix skaffold version and apiVersion
  .gitlab-ci.yml
  skaffold.yaml
Due: none

revert skaffold version to 1.39.0
  .gitlab-ci.yml
Due: none

try to fix pipeline
  skaffold.yaml
Due: none

align skaffold version
  .gitlab-ci.yml
Due: none

fix parsing of graphmodels by the mainservice
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/GraphModelType.java
  cinco-cloud/services/main/backend/src/main/java/info/scce/cincocloud/grpc/MainServiceGrpcImpl.java
Due: cinco-cloud-install-main-frontend, cinco-cloud-lint-main-frontend, cinco-cloud-check-dependencies-main-backend, cinco-cloud-lint-main-backend, cinco-cloud-install-main-backend, cinco-cloud-test-main-backend, cinco-cloud-build-main, cinco-cloud-push-image-main, cinco-cloud-deploy-testing

readd 9000
  cinco-cloud-archetype/Dockerfile
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix location of types and values in nested user-defined objects
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/property-model.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/property-edit-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add option to create example project to project initializer theia extension
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-cloud-logo.png
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-style.css
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-widget.tsx
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/initialize-project.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add project initializer theia extension
  cinco-cloud-archetype/editor/browser-app/package.json
  cinco-cloud-archetype/editor/cinco-project-initializer/README.md
  cinco-cloud-archetype/editor/cinco-project-initializer/package.json
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-contribution.ts
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-frontend-module.ts
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-widget.tsx
  cinco-cloud-archetype/editor/cinco-project-initializer/tsconfig.json
  cinco-cloud-archetype/editor/package.json
  cinco-cloud-archetype/editor/tsconfig.json
  cinco-cloud-archetype/editor/yarn.lock
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add option to initialize example projects to project initializer theia extension
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-widget.tsx
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add styling and Cinco Cloud logo to project initializer theia extension
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-style.css
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-widget.tsx
  cinco-cloud-archetype/editor/cinco-project-initializer/src/image.d.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Close project initializer view after successful example cloning
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-widget.tsx
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Open project initializer view upon opening an empty workspace
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-contribution.ts
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-frontend-module.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Remove symlink to broken project initializer vs code extension
  cinco-cloud-archetype/editor/browser-app/plugins/cinco-cloud-project-initializer-0.0.1.vsix
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Properly initialize nested user-defined types
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/property-model.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Show size of Docker image built in CI
  .gitlab-ci.yml
Due: none

update yarn.lock, add .gitignore entry
  cinco-cloud-archetype/editor/cinco-languages/.gitignore
  cinco-cloud-archetype/editor/yarn.lock
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add nix-shell environment for editor development
  cinco-cloud-archetype/editor/shell.nix
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Fix DI config to prevent duplicate message delivery
  cinco-cloud-archetype/editor/cinco-glsp-client/src/di.config.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Push built Docker image directly into registry
  .gitlab-ci.yml
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/property-widget/property-widget.tsx
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add support for enums in MGL compiler
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Add support for model references in MGL compiler
  cinco-cloud-archetype/editor/cinco-glsp-theia/src/browser/property-widget/property-widget.tsx
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/language-server/mgl.langium
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Remove duplicate import
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/property-edit-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Namespace modelElementId with the MGL/MSL name
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/specified_node_handler.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Remove old project initializer from Dockerfile
  cinco-cloud-archetype/Dockerfile
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Open project initializer in empty Git repositories
  cinco-cloud-archetype/editor/cinco-project-initializer/src/browser/cinco-project-initializer-contribution.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

Support default values for fields in user-defined types
  cinco-cloud-archetype/editor/cinco-glsp-common/src/protocol/property-model.ts
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/property-edit-handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

separate generate and upload (for better upload controll in the future) + fix mgl and style example for better development + fix language folder in vscode
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/Empty.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/Empty.style
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/Hierarchy.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/Hierarchy.style
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/flowgraph-complete.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/test.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/webstory.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/package.json
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/extension.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/index.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/persistence_handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix elementTypeId and container polymorphie
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/language-server/mgl.langium
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix all containment constraints
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/cli-util.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/index.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

update examples for hierarchy
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/Hierarchy.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/HierarchyExternal.mgl
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

update example test files
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/Constraint.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/Constraint.style
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/ConstraintExternal.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/Hierarchy.mgl
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/examples/HierarchyExternal.mgl
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix all constraints (edge and containment) + streamline
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix default fallback to size (100,100).
  cinco-cloud-archetype/editor/cinco-glsp-server/src/handler/specified_node_handler.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev

fix issues created by merge conflicts
  cinco-cloud-archetype/vscode-extensions/cinco-languages-extension/src/mgl/cli/generator.ts
Due: archetype-test-build-cinco-project-initializer-extension, archetype-test-build-cinco-languages-extension, archetype-build, archetype-push, archetype-build-dev, archetype-push-dev
